<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

  <connectionStrings>
    <add name="default_conection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)  (HOST=172.16.10.30)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)  (SERVICE_NAME=gobcba)));User Id=gobcba;Password=gobcba2016;" />
    <add name="salas_cuna_dba" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)  (HOST=10.250.2.14)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)  (SERVICE_NAME=PROAPS)));User Id=salas_cunas;Password=salas_cunas_desarrolla;" />
    <add name="salas_cuna_app" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)  (HOST=10.250.2.14)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)  (SERVICE_NAME=PROAPS)));User Id=usr_salas_cunas;Password=usr_salas_cunas;" />
    <add name="utn_testing" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)  (HOST=172.16.10.30)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)  (SERVICE_NAME=gobcbatest)));User Id=gobcba;Password=gobcba2016;" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="IdApplicationSalasCunas" value="206" />
    <add key="MockedMode" value="false" />
    <add key="AuthenticationByRouteController" value="true" />  
    
    <!--Configuración implementación en Gobierno-->
    <!--<add key="DefaultConectionString" value="salas_cuna_app" />
    <add key="NombreEsquema" value="SALAS_CUNAS." />
    <add key="PackageName" value="" />
    <add key="CiDiProduccion" value="false"/>-->

    <!--<add key="DefaultConectionString" value="salas_cuna_dba" />-->
    <!--<add key="DefaultConectionString" value="utn_testing" />-->
    <add key="DefaultConectionString" value="default_conection" />
    
    <add key="CiDiProduccion" value="true" />
    <add key="NombreEsquema" value="" />
    <add key="PackageName" value="PCK_SEGURIDAD_SC." />
    <add key="ApiDescargarReporte" value="Api/Reporte/GenerarReporte" />
    <!--Si se modifica CantDiasArchivosPersistidos se debe modificar EmailMensaje-->
    <add key="CantDiasArchivosPersistidos" value="5" />
    <add key="EmailMensaje" value="Para descargar el reporte haga click en el enlace que figura a continuación. El mismo estará disponible por 5 días a partir del día en que usted lo generó, luego será borrado permanentemente." />
    <add key="EmailInfoDesc" value="Enlace de descarga" />
    <add key="EmailInfoDato" value="click aquí" />
    <add key="EmailFirma" value="Salas Cunas" />
    <add key="EmailEnte" value="Gobierno de Córdoba" />

    <add key="CiDiIdAplicacion" value="161" />

    <!--Variables dependientes del entorno PRODUCCION-->    
    <add key="CiDiPassAplicacion" value="prod_salas_craddle" />
    <add key="CiDiKeyAplicacion" value="A627431366947636D616531554E6335306E754B7" />
    <add key="CiDiUrl" value="https://cidi.cba.gov.ar/Cuenta/Login" />
    <add key="CiDiUrlCerrarSesion" value="https://cidi.cba.gov.ar/Cuenta/CerrarSesion" />
    <add key="CiDiUrlIniciarSesion" value="https://cidi.cba.gov.ar/Cuenta/Login.aspx" />
    <add key="CiDiUrlAPICuenta" value="https://cuentacidi.cba.gov.ar/" />
    <add key="CiDiUrlAPIComunicacion" value="https://comunicacioncidi.cba.gov.ar/" />
    <add key="CiDiUrlAPIDocumentacion" value="https://documentacioncidi.cba.gov.ar/" />
    <add key="CiDiUrlAPIMobile" value="https://mobilecidi.cba.gov.ar/" />
    <add key="CiDiUrlRelacion" value="https://cidi.cba.gov.ar/relacion/appseleccion" />

    <!--Variables dependientes del entorno DESARROLLO-->
    <!--<add key="CiDiPassAplicacion" value=" _Salas_Cuna" />
    <add key="CiDiKeyAplicacion" value="3657584F6C37776E66532B775265495A612B555A" />
    <add key="CiDiUrl" value="https://ciditest.cba.gov.ar/Cuenta/Login" />
    <add key="CiDiUrlCerrarSesion" value="https://ciditest.cba.gov.ar/Cuenta/CerrarSesion" />
    <add key="CiDiUrlIniciarSesion" value="https://ciditest.cba.gov.ar/Login.aspx" />
    <add key="CiDiUrlAPICuenta" value="https://cuentaciditest.cba.gov.ar/" />
    <add key="CiDiUrlAPIComunicacion" value="https://comunicacionciditest.cba.gov.ar" />
    <add key="CiDiUrlAPIDocumentacion" value="https://documentacionciditest.cba.gov.ar/" />
    <add key="CiDiUrlAPIMobile" value="https://mobileciditest.cba.gov.ar/" />
    <add key="CiDiUrlRelacion" value="https://ciditest.cba.gov.ar/relacion/appseleccion" />-->

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

	<globalization culture="es-ES" uiCulture="es-ES" />
  </system.web>

  <log4net threshold="OFF" />
  <!--<log4net>
    --><!-- file appender --><!--
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/server.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />      
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5000KB" />
      <countDirection value="1"/>
      <datePattern value=".yyyy-MM-dd" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>-->
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <handlers>
      <remove name="WebDAVModule" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

   <rewrite>
      <rules>
          <rule name="AngularJS Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/(api|v1)" negate="true" />
            </conditions>
            <action type="Rewrite" url="/index.html" />
          </rule>
          <rule name="Path">
            <match url=".*" />
            <conditions>
                        <add input="{REQUEST_URI}" pattern="^/+$" />
            </conditions>
            <action type="Rewrite" url="/index.html" logRewrittenUrl="true" />
          </rule>
        </rules>
    </rewrite>
    
  </system.webServer>
 
  <runtime>
 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 
          <dependentAssembly>
 
              <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
 
          </dependentAssembly>
 
          <dependentAssembly>

            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
 
          </dependentAssembly>
          <dependentAssembly>
              <publisherPolicy apply="no" />
              <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
          </dependentAssembly>
 
          <dependentAssembly>
 
              <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
 
          </dependentAssembly>
 
      </assemblyBinding>
 
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>