<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="CiDiIdAplicacion" value="29" />

    <!--Variables dependientes del entorno DESARROLLO-->
    <add key="MyAppUrl" value="http://localhost.cba.gov.ar:1507/Autenticacion.aspx" />
    <add key="CiDiPassAplicacion" value="password" />
    <add key="CiDiKeyAplicacion" value="482D16FB6F256009DEC66B6E91BF3594" />
    <add key="CiDiUrl" value="https://cidi.cba.gov.ar/Cuenta/Login" />
    <add key="CiDiUrlAPICuenta" value="https://cuentacidi.cba.gov.ar/" />
    <add key="CiDiUrlAPIComunicacion" value="https://comunicacionciditest.cba.gov.ar" />
    <add key="CiDiUrlAPIDocumentacion" value="https://documentacionciditest.cba.gov.ar/" />
    <add key="CiDiUrlAPIMobile" value="https://mobileciditest.cba.gov.ar/" />
    <add key="CiDiUrlRelacion" value="https://ciditest.cba.gov.ar/relacion/appseleccion" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>